.DS_Store
.idea/
.vscode/
lib/
logs/
node_modules/
pkg/
target/
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.npmrc
.pnpm-debug.log*
.vscode-test
Cargo.lock
pnpm-lock.yaml
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.log
bun.lock
